In [11]:
import pandas as pd
import numpy as np

# Example synthetic data 
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

In [12]:
# Feature 1: Spend to Income Ratio
df['spend_income_ratio'] = df['monthly_spend'] / df['income']

# Feature 2: Annual Spend
df['annual_spend'] = df['monthly_spend'] * 12

# Feature 3 (optional, bonus): Income per Credit Point
df['income_per_credit'] = df['income'] / df['credit_score']

df.head()

,income,monthly_spend,credit_score,spend_income_ratio,annual_spend,income_per_credit
0,86460,3129,661,0.036190,37548,130.801815
1,66002,1191,668,0.018045,14292,98.805389
2,74681,1237,734,0.016564,14844,101.745232
3,93613,2581,712,0.027571,30972,131.478933
4,88013,1296,712,0.014725,15552,123.613764

Rationale for Feature “Spend to Income Ratio”
——The spend-to-income ratio captures the proportion of spending relative to income.From our EDA, we saw variability in spending patterns, and this feature helps the model understand whether someone spends conservatively or aggressively compared to their earnings. This can be important for predicting financial stability or creditworthiness.

Rationale for Feature “Annual Spend”
——The annual spend is a simple transformation of monthly spending, but it gives the model a long-term view of consumer behavior.Instead of only looking at short-term values, this cumulative metric aligns better with income and long-term financial commitments.

Rationale for Feature “Income per Credit Point”
——The income per credit point feature normalizes income by credit score.This can capture whether a high income also correlates with a strong credit score, or whether discrepancies exist.Such mismatches may provide useful predictive power.